h1, p {
  text-align: center;
  color:#777;
  background:#ebebeb;
  line-height: 30px;

}

a{
    color:red;
}


body {
    font-family: Arial, Helvetica, sans-serif, 'Helvetica Neue';
    color:#777;
    background:#777;
    width: 960px;
    font-size: 18pt;

}
header, nav, footer {
    background:#ebebeb;
    margin: 0;
    text-align: center;
    box: 0
}
.hardnav{
    margin-top: 10px;
    box:0;
    width:33.3%;
    float: right;
    border: 0 0 0 10 #777;
    
}

article{
    background:#777;
    float:left;
    border: 30px 10px 10px 10px;
}

section {
    box-sizing: 495px;
    background: #ebebeb;
    margin:5px red;
    width: 495px
}

div{
    width: 400px;
    padding: 15px;
    margin:0;
}

.totheright{
    float: right;

}

#akali {
    width: "350px"; 
    height: "263px";
}